<div class='container'>
  <nav>

    <a href="/authors"><h2>Authors</h2></a>
    {{#authors}}
    <a href="/authors/{{id}}"><p>{{last_name}}</p></a>
    {{/authors}}

    <a href="/books"><h2>Books</h2></a>
    {{#books}}
    <a href="/books/{{id}}"><p>{{title}}</p></a>
    {{/books}}

  </nav>

  <article>

    {{#authorsingle}}

    <div class='bookwrap'>

      <a href="/authors/{{id}}">
        <img class='portrait' src="{{portrait}}" />
      </a>

      <div class='authorinfowrap'>
        <a href="/authors/{{id}}">

          <h1>{{first_name}} {{last_name}}</h1>
        </a>
        {{#each titles}}
        <h3>{{this}}</h2>
          {{/each}}
          <p>{{biography}}</p>
          <form action="/authors/delete/{{id}}" method="post">
            <input type="submit" value="Delete Author">
          </form>
          <form action="/authors/edit/{{id}}" method="get">
            <input type="submit" value="Update Author">
          </form>
        </div>



      </div>

      {{/authorsingle}}

    </article>

  </div>
